body {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*height: 100vh;*/
}
#ftr {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    margin-top: 20px;
    font-family: Barlow;
    background-color: rgba(59, 130, 246, 0.5);
    position: static;
    bottom: 0;

}
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background: url('og.png') no-repeat;*/
    /*background-size: 100%;*/
}
#t1 {
    margin: 30px;
}
#t2 {
    margin: 30px;
    display: none;
}

#title {
    font-family: Barlow;
    text-align: center;
    margin: 30px;
    font-size: 50px;
}
#table_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    z-index: -1;
    position: absolute;
    max-width: 50%!important;
}

#createBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;

}
#createBtn:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
}